body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* цвет основного текста #212121; */

/* вторичный цвет текста #757575; */

/* белый цвет #FFFFFF; */

/* цвет текста в подвале rgba(255, 255, 255, 0.6); */

/* голубой цвет #2196F3; */

/* цвет блока 2 и подвала #2F303A; */

/* цвет блока 5 #F5F4FA; */

/* Шапка страницы */

.header-position {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.telefon {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.color-web {
  color: #2196f3;
}

.site-nav a {
  color: #212121;
  text-decoration: none;
}

.site-nav-adress a {
  color: #757575;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

.site-nav-adress a:hover,
.site-nav-adress a:focus {
  color: #2196f3;
}

/* Блок 2 */

.block2 {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.block2-title {
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 60px;
  color: #fff;
  margin-top: 200px;
  font-weight: 900;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Глобальный ul, p */

ul {
  list-style: none;
}

p {
  color: #757575;
}

/* Блок 3 */

.box-1 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.box-2 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}

.box-3 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}

.box-4 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
}

.block3-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/* Блок 4 */

.block4-title {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin: 0 0 0 0;
}

.block4-box1 {
  position: absolute;
  width: 370px;
  height: 293px;
  left: 215px;
  top: 1060px;
}

.block4-box2 {
  position: absolute;
  width: 370px;
  height: 293px;
  left: 615px;
  top: 1060px;
}

.block4-box3 {
  position: absolute;
  width: 370px;
  height: 293px;
  left: 1015px;
  top: 1060px;
}

/* Блок 5 */

.section-block5 {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.block5-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* Подвал */

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

.logo-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  padding: 0px 1240px 161px 215px;
}
